# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
ngrok.exe
ngrok   
.env
.env.*
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#apis 
foodexpress-fc794-a3fdc1348f9c.json
foodexpress-fc794-ad054b308a60.json